:root {
    --backgroundColor: #f5f7fb;
    --darkBlue: #293264;
    --lightBlue: #D6DBF5;
    --buttonColor: #4D5B9E;
    --white: #FFFFFF;
    --green: #94D7A2;
    --red: #F8BCBC;
    --disabled: #a1a9cd;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--backgroundColor);
    font-family: 'Roboto', sans-serif;
    color: var(--darkBlue);
}

.app {
    position: relative;
}

.upperVector {
    position: absolute;
    top: 0;
    right: 0;
}

.lowerVector {
    position: absolute;
    bottom: 0;
    left: 0;
}

h1 {
    text-align: center;
    margin-top: 0px;
}


.button {
    background-color: var(--darkBlue);
    color: var(--white);
    border: none;
    font-family: 'Roboto', sans-serif;
    padding: 14px 20px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
    letter-spacing: 1px;
}

.button:hover {
    background-color: var(--lightBlue);
    color: var(--darkBlue);
}

/*------------------------------- STARTPAGE ---------------------------------*/
.startpageContainer {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.startpageContainer select, 
.startpageContainer input {
    width: 300px;
    margin-bottom: 24px;
    border-radius: 5px;
    border: 1px solid var(--darkBlue);
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--darkBlue);
}


.startpageContainer input {
    width: 280px;
}

.startpageContainer input::placeholder {
    color: var(--darkBlue);
}

.startpageContainer .errorMessage {
    margin-top: 30px;
    font-style: italic;
    font-weight: 500;
}



/*------------------------------- QUIZPAGE ---------------------------------*/
.quizContainer {
    padding: 120px 20px 140px 20px;
}

.quizContainer .infoSection {
    border: 1px solid var(--lightBlue);
    width: fit-content;
    margin: 0px auto;
    padding: 0px 40px;
    margin-bottom: 40px;
}

.questionContainer .question {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0px;
}

.quizContainer .questionContainer .alternativeSection {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.quizContainer .questionContainer .alternativeSection span {
    padding: 4px 20px;
    border: 1px solid var(--darkBlue);
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
}

.quizContainer hr {
    border-top: 1px solid var(--lightBlue);
    margin: 25px 0px;
}

.quizContainer .button {
    display: block;
    margin: 0px auto;
}

.quizContainer .questionContainer .alternativeSection .selectedAnswer {
    background-color: var(--lightBlue);
    color: var(--darkBlue);
    border: none;
}

.quizContainer .questionContainer .alternativeSection .correctAnswer {
    background-color: var(--green);
    color: var(--darkBlue);
    border: none;
}

.quizContainer .questionContainer .alternativeSection .incorrectAnswer {
    background-color: var(--red);
    color: var(--darkBlue);
    border: none;
}


.quizContainer .message {
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
}




/*------------------------------- MEDIA QUERIES ---------------------------------*/

@media screen and (min-width: 690px) {
    h1 {
        font-size: 38px;
    }
}



@media screen and (min-width: 690px) { 
    .quizContainer,
    .startpageContainer {
        max-width: 700px;
        margin: 0px auto;
    }
}